{% block subject -%}
    {{ 'admin.activation.mail.subject'|trans({}, 'FSiAdminSecurity') }}
{%- endblock %}

{% block body_html -%}
    <p>
        {{ 'admin.activation.mail.info'|trans({}, 'FSiAdminSecurity') }}<br/>
        {% set activationUrl = url('fsi_admin_activation', {token: receiver.activationToken.token}) %}
        <a href="{{ activationUrl }}">{{ activationUrl }}</a>
    </p>
    <p>
        {{ 'admin.mail.link_valid'|trans({}, 'FSiAdminSecurity') }} <b>{{ receiver.activationToken.expiresAt|date('d/m/Y H:i') }}</b>
    </p>
{%- endblock %}
