{% block subject -%}
    {{ 'admin.password_reset.request.mail_subject'|trans({}, 'FSiAdminSecurity') }}
{%- endblock %}

{% block body_html -%}
    <p>
        {{ 'admin.password_reset.request.mail.info'|trans({}, 'FSiAdminSecurity') }}<br/>
        {% set changePasswordUrl = url('fsi_admin_security_password_reset_change_password', {token: receiver.passwordResetToken.token}) %}
        <a href="{{ changePasswordUrl }}">{{ changePasswordUrl }}</a>
    </p>
    <p>
        {{ 'admin.password_reset.request.mail.requested_by'|trans({'%ip%': request.clientIp, '%user_agent%': request.headers.get('User-Agent')}, 'FSiAdminSecurity') }}
    </p>
{%- endblock %}
