{% extends admin_templates_base %}

{% block themes %}
    {% form_theme form admin_templates_form_theme %}
{% endblock themes %}

{% block content %}
    <h3>
        <span id="page-header">
            {% block header %}{{ 'admin.change_password'|trans({}, 'FSiAdminSecurity') }}{% endblock header %}
        </span>
    </h3>

    {{ form_start(form, { 'attr': form.vars.attr|merge({ class: 'form-horizontal' }) }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                {{ 'admin.change_password_form.button.save'|trans({}, 'FSiAdminSecurity')  }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        require(['jquery'], function ($) {
            function initForms($context) {
                $context.find('label.required').each(function (index, label) {
                    if (!$(label).find('.glyphicon-asterisk').length) {
                        $(label).append(' <i class="glyphicon glyphicon-asterisk"></i>');
                    }
                });
            }
            initForms($('body'));
        });
    </script>
{% endblock javascripts %}