{% extends '@FSiAdmin/CRUD/datagrid.html.twig' %}

{# https://github.com/fsi-open/datagrid-bundle/blob/06d45921087b47edc55d5d95555faf07e1ceec9f/Resources/views/datagrid.html.twig#L23 #}
{# pattern: datagrid_{grid_name}_column_name_{column_name}_cell #}
{% block datagrid_admin_security_user_column_name_batch_cell %}
    <td>
    {% if cell.value == app.user.id %}
        <input type="checkbox" disabled />
    {% else %}
        <input type="checkbox"
               name="{{ cell.attribute('datagrid_name') }}_{{ cell.type }}[]"
               value="{{ cell.value }}"
               class="{{ cell.attribute('datagrid_name') }}_{{ cell.type }}"
        />
    {% endif %}
    </td>
{% endblock %}
