{% trans_default_domain 'FSiAdminSecurity' %}
<p>
    {{ 'admin.password_reset.request.mail.info'|trans }}<br/>
    {% set changePasswordUrl = url('fsi_admin_security_password_reset_change_password', {token: receiver.passwordResetToken.token}) %}
    <a href="{{ changePasswordUrl }}">{{ changePasswordUrl }}</a>
</p>
<p>
    {{ 'admin.password_reset.request.mail.requested_by'|trans({'%ip%': app.request.clientIp, '%user_agent%': app.request.headers.get('User-Agent')}, 'FSiAdminSecurity') }}
</p>
<p>
    {{ 'admin.mail.link_valid'|trans }} <b>{{ receiver.passwordResetToken.expiresAt|date('d/m/Y H:i') }}</b>
</p>
